
.name{
  margin-top:0%;
  height:0.5vh;
  font-family: 'Merriweather', serif;
  color:darkgreen;
}

.stickyheader{
  /* margin:0px 0px 0px 0px; */
  background-color: rgb(7, 63, 41 );
  padding:  0em 100vw 0.5vw 0.5vw;
  position:fixed;
  box-shadow: 0vw 0.2vw 0.2vw grey;
 top:3.5vw;
z-index:1;
margin-top: 0%;
 
}
s {
  display: block;
  font-size: 1vw;
  text-indent: 1em;
}
.lotId{
  
 margin-top:1%;
 margin-left:40%;
 margin-bottom: 0%;
}
html{
height:100vh
}
body{
  margin:0px;
  height: 100vh;
  width: 100vw;
  bottom: 1%;
  
}
.body{
 margin-top:10vw;
 min-height: 100vh;
 max-width: 90vw;
 padding-right:2vw;
 position: relative;
 left:3vw;

}
.button{
  position: relative;
  font-size: 1.3vw;
  cursor: pointer;
  background-color: rgb(7, 63, 41,0);
  color: white;
  padding: 2.5vw;
  text-decoration: none;
 padding: 0vw 1vw 0vw 0vw;
 margin-right: 2%;
 margin-left: 1%;
 left: -60%;
 
} 
.button:hover{
  background: rgb(64, 153, 82,0.5);
  font-size: 1.3vw;
  padding: 2.5vw;
}
.image{

  position:fixed;
  width:100%;
  z-index:1;
  top:0%;
  
}
.stickyfooter{
  position:sticky;
  
  font-size: 1.5vw;
  padding-bottom: .5rem;
  padding-left: 40vw;
 
}

.enclosure{
  position:relative;
  left:300%;
}
.footerProps{
  
  text-decoration: none;
  color: grey;
  
}
@media only screen {
.logo{
position:fixed;
float:left;
position:absolute;
 top: -2vw;
max-width:10vw;
}
}
h1 {
  display: block;
  
  font-weight: bold;
  padding:  0.3vw 0.5vw 1vw 2vw;
  background-color:rgb(7, 63, 41);
}
#root{
  height:100%;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.appContainers{

 height: 100%;
 

}
@media only screen {
.stats{
  background-color:rgb(7, 63, 41,0.98);
  box-shadow: 0.5rem 0rem 1rem grey;
  margin-top: 19vh;
  height:12VH;
  
}}
.stats:hover{
  background-color:rgb(7, 63, 41,1);
  
}
@media only screen {
.parking1{
  width: 20vw;
  
  padding:0.5vw;
 margin-bottom:0.5vw;
}
}

.login{
  color:white;
  z-index: 2;
  position:relative;
}

.title{
 
 
  margin-top:0em;
  color:rgb(247, 237, 237);
  margin-bottom:0em;
  font-family: 'Merriweather', serif;
  font-size: 2vw;
}
@media only screen {
.parking_full{
 
  float:left;
  margin-top:1vw;
  margin-left:2vw;
  width: 20vw;
  height: 36vh;
  position:relative;
  box-sizing: border-box;
 z-index: 0;

  background-color: rgb(255, 253, 253);
  box-shadow: 0.5rem 0rem 0.5rem grey;

}
}
@media only screen {
.parking_full:hover{
  box-shadow: 1rem 0rem 1rem grey;
  



}
}
@media only screen {
.car{

  max-height:5vh;
  max-width:3.3vw;
  margin-top:1vh;
  float:left;
}
}