

.stickyheader{
  /* margin:0px 0px 0px 0px; */
  background-color: rgb(7, 63, 41);
  padding:  10px 100% 10px 0px;
  top:10%;
  position:fixed;
}
html{
  height: auto;
}
body{
  position:absolute;
  margin:0px;
  height: 100%;
  width: 100%;
  bottom: 1%;
}
.button{
  
  font-size: 18px;
  cursor: pointer;
  background: rgb(7, 63, 41);
  color: white;
  padding: 10px;
  border: black;
  text-decoration: none;
} 
.button:hover{
  background: rgb(3, 43, 11);
  font-size: 18px;
  padding: 10px;
}
.stickyfooter{
  position: fixed;
  bottom : 0;
 
}
.footerProps{
  padding: 0px 0px 10px 0px;
  text-decoration: none;
  color: grey;
}
@media only screen{
.bimage{
  top:0%;
width: 10%;
height: 10%;
position: fixed;
}
}
.box{
  position:fixed;
  top:14%;
  display: grid;
  border: 5px solid black;
  padding: 5%;
  height: 60%;
  width:100%;
  background-color: rebeccapurple;
}
.parking1{
  padding: 20%;
  
}
.stats{
  position:fixed;
  top:40%;
  left:2%
}
.parking_full{
  position: absolute;
  padding: 5%;
  width: 20%;
  height: 20%;
  margin: 1%;
  top:15%;
  left:0%;
  background-color: antiquewhite;
}