


.stickyheader{
  /* margin:0px 0px 0px 0px; */
  background-color: rgb(7, 63, 41);
  padding:  10px 100% 10px 0px;
  position:fixed;
  box-shadow: 1px 3px 3px grey;
 top:4%;

}
html{
height:100%
}
body{
  margin:0px;
  height: 100%;
  width: 100%;
  bottom: 1%;
  
}
.body{
 margin-top:10%;
 height:50%;
}
.button{
  font-size: 18px;
  cursor: pointer;
  background: rgb(7, 63, 41);
  color: white;
  padding: 10px;
  border: black;
  text-decoration: none;
} 
.button:hover{
  background: rgb(3, 43, 11);
  font-size: 18px;
  padding: 10px;
}
.image{
  background-color:rgb(7, 63, 41);
  position:fixed;
  width:100%;
  top:0%;
}
.stickyfooter{
  position:fixed;
  bottom : 0;
  font-size: 120%;
  left:46%;
 
 
}
.footerProps{
  padding: 0px 0px 10px 0px;
  text-decoration: none;
  color: grey;
}
@media only screen{
.bimage{
position:fixed;
top:1%;

width: 10%;
height: 10%;


}
}
#root{
  height:100%;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.appContainers{
  border:5px solid black;
 height: 100%;
 

}
.stats{
  background-color:#b5c0b2ee;
   
  margin-top: 65%;
  height:12VH;
}
.parking1{
  
  padding:5%;
 margin-bottom:5%;
}
.title{
 
 
  margin-top:0%;
  color:rgb(247, 237, 237);
  margin-bottom:0%;
  font-family: 'Merriweather', serif;
  
}
.parking_full{
 
  float:left;
  margin-top:2%;
  
  width: 20%;
  margin-left:5vw;






 
  background-color: rgb(255, 253, 253);
  box-shadow: 4px 4px 8px grey;

}
.parking_full:hover{
  box-shadow: 5px 5px 5px grey;
  

}
.car{

  height:20%;
  width:20%;
  margin-top:3%;
  float:left;
}